body {
    vertical-align:center;
    width:300%;
}

.a1{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:100%;
    
}

.a2{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%
}

.a3{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a4{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a5{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a6{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a7{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a8{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a9{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a10{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a11{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a12{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a13{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a14{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a15{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a16{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a17{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a18{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a19{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a20{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a21{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a22{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a23{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a24{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a25{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a26{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a27{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a28{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a29{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a30{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a31{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a32{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a33{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a34{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a300{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a36{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a37{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a300{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a39{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a40{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a41{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a42{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a43{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a44{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a45{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a46{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a47{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a48{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a49{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a300{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a51{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a52{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a53{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a54{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a55{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a56{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a57{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a58{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a59{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}

.a60{
    background: black;
    border: 2px solid;
    border-color: red;
    border-radius:300px;
    width:96%;
}