body {
    font-family: Arial,'Times New Roman', Consolas;
    font-size: 12px;
    }

    body div span img span table td tr button header {
        padding: 0;
        margin: 0;
        }


header{
    border: 1px solid rgb(114, 127, 141);
    width: 311px;
    height:16px;
    border-bottom: 1px solid #B6BCCC;
    background: -webkit-linear-gradient(#FEFEFF 0%, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
    background: -moz-linear-gradient(#FEFEFF 0%, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
    background: -o-linear-gradient(#FEFEFF 0%, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
    background: linear-gradient(#FEFEFF 0%, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
    }

header nav{
    position: absolute;
    top:-2px;
    left:-25px;
    }

nav div{
    border: 1px solid rgb(114, 127, 141);
    }

nav ul li{
    display: inline;
    }

    nav ul li a{
        text-decoration:none;
        font-size:10px;
        margin:0;
        padding:0;
        }


div{
    border:1px solid rgb(114, 127, 141);
    width:300px;
    padding:6px 6px 5px 5px;
    background: -moz-linear-gradient(#ecf4fc 0px, #D9E4F1 100px);
    }


.one {
    width: 290px;
    height: 25px;
    border: 1px solid rgb(114, 127, 141);
    border-radius: 2px;
    font-size: 1.6em;
    text-align: right;
    margin-bottom: 5px;
    background: linear-gradient(rgb(230, 239, 251), rgb(255, 255, 255)) repeat scroll 0% 0% transparent;
    }
        .underline{
            text-decoration:underline;
            }

.two{
    border-radius:2px;
    width:300px;
    height:45px;
    border:1px solid rgb(114, 127, 141);
    }
     .two table{
        border:none;
        width:300px;
        height:45px;
        line-height:0;
        }

         .two table td{
            width:300px;
            font-size:9px;
            font-family:Consolas;
            letter-spacing:1px;
            }
               .numRight:last-child {
                    text-align:right;
                    padding-right:10px;
                }
                    .lighter{
                        color:#999898;
                    }
         

.tree{
    border-radius:3px;
    margin-top:3px;
    border:none;
    width:300px;
    }
    
    .tree table{
        width:305px;
        height:150px;
        border-radius: 2px;
        padding:0;
        margin-left:-2px;
        }
        
        .tree table tr td{
               text-align:center;
               border:1px solid rgb(114, 127, 141);
               border-radius: 2px;
               height:8px;
               width:16px;
               }
           
            .tree table tr .xsmall{
                font-family: Arial;
                }

.radio{
    list-style:none;
    }

ul.radio{
    text-align:justify;
    width:39px;
    font-size:8px;
    margin:0px;
    padding:0px;
    }
    
    ul.radio input{
        width:7px;
        height:7px;
        margin:3px;
        }

.buttons{
    border: 1px solid #8797AA;
    background: -webkit-linear-gradient(#F0F6FB 0%, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
    background: -moz-linear-gradient(#F0F6FB 0%, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
    background: -o-linear-gradient(#F0F6FB 0%, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
    background: linear-gradient(#F0F6FB 0%, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
    font-size:8px;
    }

.equal{
    border: 1px solid #8797AA;
    background: -webkit-linear-gradient(#F0F6FB 0%, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
    background: -moz-linear-gradient(#F0F6FB 0%, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
    background: -o-linear-gradient(#F0F6FB 0%, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
    background: linear-gradient(#F0F6FB 0%, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
    font-size:14px;
    }

.calcNumbers{
    background: -webkit-linear-gradient(#F7FBFF 0%, #EDF3F8 49%, #E7EDF5 50%, #F3FBFF 100%);
    background: -moz-linear-gradient(#F7FBFF 0%, #EDF3F8 49%, #E7EDF5 50%, #F3FBFF 100%);
    background: -o-linear-gradient(#F7FBFF 0%, #EDF3F8 49%, #E7EDF5 50%, #F3FBFF 100%);
    background: linear-gradient(#F7FBFF 0%, #EDF3F8 49%, #E7EDF5 50%, #F3FBFF 100%);
    font-size:1.1em;
    font-family:Calibri;
    }

.defaultButton{
    font-size:10px;
    font-family:Calibri;
    color:#878686;
    }

.btnHoover:hover{
    border-color: #F5D50F;
    background: -webkit-linear-gradient(#FEF5EB 0%, #FCE3C6 49%, #FBD075 50%, #FCF8CA 100%);
    background: -moz-linear-gradient(#FEF5EB 0%, #FCE3C6 49%, #FBD075 50%, #FCF8CA 100%);
    background: -o-linear-gradient(#FEF5EB 0%, #FCE3C6 49%, #FBD075 50%, #FCF8CA 100%);
    background: linear-gradient(#FEF5EB 0%, #FCE3C6 49%, #FBD075 50%, #FCF8CA 100%);
    }